<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link href="./calousels.css" rel="stylesheet">
    <link href="./signin.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
    <div id='app'>
        <goods-header v-on:route-page="routePage" :logged-member="loggedMember"></goods-header>
        <br/><br/><br/>
        <template v-if="page === 'MainPage'">
            <card-container :goods-datas="goodsList">
                <template v-slot:calousels>
                    <calousels></calousels>
                </template>
            </card-container>
        </template>
        <template v-else-if="page === 'RegistraionPage'">
            <goods-registration></goods-registration>
        </template>
        <template v-if="page === 'SignIn'">
            <sign-in v-on:route-page="routePage"></sign-in>
        </template>
        <template v-if="page === 'SignUp'">
            <sign-up v-on:route-page="routePage"></sign-up>
        </template>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="GoodsHeader.js"></script>
    <script src="CardContainer.js"></script>
    <script src="Calousels.js"></script>
    <script src="SignIn.js"></script>
    <script src="SignUp.js"></script>
    <script src="MemberModel.js"></script>
    <script src="../simple_goods_form/GoodsRegistForm.js"></script>
    <script src="../simple_card/GoodsCard.js"></script>
    <script src="../simple_card/GoodsModel.js"></script>
    <script src="../simple_goods_form/GoodsModel.js"></script>


    <script>
        const instance = new Vue({
            vuetify: new Vuetify(),
            el: '#app',
            components: {
                CardContainer,
                GoodsHeader,
                Calousels,
                GoodsRegistration,
                SignIn,
                SignUp,
            },
            data: {
                page: 'MainPage',
                goodsList: [],
                loggedMember:'',
            },
            methods: {
                routePage: function (pageName) {
                    this.page = pageName[0];
                }
            },
            updated: function() {
                this.loggedMember = ("; "+document.cookie).split("; loggedMember=").pop().split(";").shift();
            }
            ,
            created: async function () {
                let goodsDatas = [];

                await axios.get('http://localhost:3000/goods')
                    .then((response) => {
                        response.data.map((goods, index) => {
                            //
                            goodsDatas.push(getInstance(goods.name, goods.price, goods.address, goods.likeCount, goods.image));
                        });
                    });
                this.goodsList = goodsDatas;
            },
        });
    </script>
</body>

</html>


<div>
    <div @click.ctrl.exact>
        <div>

        </div>
    </div>
</div>